/*
$color-primary   : $fountain-blue;
$color-secondary : $scooter;
$color-accent    : $emerald;
$color-shadow    : rgba($black, .2);
*/
/*
$ui-colors: (
	default : $fountain-blue,
	success : $emerald,
	error   : $sunglo,
	warning : $coral,
	info    : $purple-majesty
);
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?368ibp");
  src: url("../fonts/icomoon.eot?368ibp#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?368ibp") format("truetype"), url("../fonts/icomoon.woff?368ibp") format("woff"), url("../fonts/icomoon.svg?368ibp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*=" icon-"], [class^=icon-] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

* input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*, :before, :after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins", "sans-serif";
  line-height: 1.42857143;
  letter-spacing: 0.4px;
}

.h1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 28px;
  color: #333645;
}

h2 {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 15px;
  color: #333645;
}

p {
  line-height: 1.875rem;
  margin-bottom: 25px;
}

div {
  display: block;
}

a {
  text-decoration: none;
  background: transparent;
}

label {
  display: block;
  color: #333645;
  font-weight: 600;
  margin-bottom: 5px;
}

footer {
  position: relative;
  color: #fff;
  background-color: #323544;
  padding: 27px 0 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__bottom-container {
  padding-left: 15px;
  padding-right: 15px;
}

.headings-container {
  display: flex;
  justify-content: space-between;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.col {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__social-logos, .footer__company-info, .footer__row, .newsletter__input-box-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.063rem;
  text-align: center;
  vertical-align: middle;
  background-color: #333645;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  margin-bottom: 0;
  text-transform: uppercase;
  border: 1px solid #333645;
  border-radius: 3px;
  white-space: normal;
}

.services-list__block {
  font-weight: 600;
  color: #333645;
  display: block;
  border: 1px solid #ccc;
  padding: 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  margin-top: 30px;
  text-align: center;
  border-radius: 15px;
  position: relative;
  top: 0;
}
.services-list__icon {
  display: block;
  height: 65px;
  width: 65px;
  margin: 0 auto 17px;
  color: #fff;
  border-radius: 50%;
}
.services-list__h2 {
  font-family: inherit;
  color: #333645;
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  position: relative;
  padding-bottom: 10px;
  margin: 0 0 11px;
}
.services-list__p {
  color: #333645;
  display: block;
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
}

.branding {
  background-color: #333645;
}
.branding h2 {
  font-family: inherit;
  font-weight: 400;
  color: #fff;
  font-size: 2.25rem;
  margin-bottom: 40px;
  margin-top: -6px;
}
.branding a {
  color: #fff;
}
.branding a:hover {
  text-decoration: underline;
}

.client-quote {
  font-weight: 600;
  font-size: 1.3rem;
  font-style: italic;
}
.client-quote__author {
  font-weight: 600;
  color: #a3a8ac;
  font-size: 1.1rem;
}

.articles__bar {
  padding-top: 50px;
}
.articles__section {
  padding-bottom: 50px;
}
.articles__list {
  margin-top: -30px;
}
.articles__item {
  font-size: 0.8125rem;
  margin-top: 30px;
  position: relative;
  top: 0;
  transition: 0.5s ease;
}
.articles__item-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.articles__img-container {
  position: relative;
}
.articles__category {
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
  background-color: #67809f;
  font-size: 0.75rem;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
  z-index: 1;
}
.articles__img {
  display: block;
  border: 0;
  position: relative;
  width: 100%;
  height: auto;
}
.articles__block {
  color: #666;
  display: block;
  border: 1px solid #ccc;
  padding: 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
.articles__block h3 a {
  color: #67809f;
  font-weight: 600;
}
.articles__block p {
  margin-bottom: 25px;
}
.articles__read-time {
  display: inline;
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(51, 54, 69, 0.5);
  font-size: 0.85rem;
  vertical-align: middle;
}
.articles__user {
  display: table;
  width: 100%;
  font-size: 0.875rem;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
.articles__user-avatar {
  width: 1%;
  border-radius: 50%;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
.articles__user-details {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  line-height: 1.375rem;
}
.articles__user-details strong {
  color: #333645;
  font-weight: 600;
}

.newsletter {
  background-color: #ddd;
  margin: 0;
  padding: 50px 0;
}
.newsletter__main {
  background-color: #ddd;
  margin: 0;
}
.newsletter__input-box-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}
.newsletter__input-box {
  flex: 1 1 450px;
  padding-left: 15px;
  padding-right: 15px;
}
.newsletter__input-fields {
  margin-bottom: 15px;
}
.newsletter__input-ctrl {
  display: block;
  font-family: inherit;
  font-size: 14px;
  color: #555;
  width: 100%;
  height: 47px;
  padding: 5px 15px;
  margin: 0;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.ckbox {
  overflow: hidden;
}
.ckbox__label {
  display: inline-block;
  font-weight: 600;
  color: #333645;
  line-height: 32px;
  cursor: pointer;
  margin-bottom: 5px;
}
.ckbox__left {
  display: table-cell;
  vertical-align: top;
  padding-right: 0;
}
.ckbox__button {
  border-radius: 3px;
  border: 3px solid #333645;
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin-right: 20px;
}
.ckbox__body {
  display: table-cell;
  vertical-align: top;
  width: 10000px;
  overflow: hidden;
}

.footer__row {
  justify-content: space-between;
}
.footer__company-info {
  justify-content: space-between;
  width: 100%;
}
.footer__info {
  width: auto;
}
.footer__logo {
  width: 250px;
}
.footer__logo img {
  width: 100%;
  vertical-align: middle;
  border: 0;
}
.footer__logo h4 {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 26px;
  margin-top: 24px;
}
.footer__social-logos {
  flex-direction: row;
  margin-bottom: 30px;
}
.footer__social-logos a span {
  position: relative;
  top: 4px;
}
.footer__row {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
.footer__menu {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.footer__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__menu ul li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
.footer__menu ul li a {
  color: #fff;
}
.footer__menu ul li a:hover, .footer__menu ul li a:focus {
  text-decoration: underline;
  color: #fff;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #212330;
  font-size: 0.8125rem;
  padding-top: 10px;
  left: 0;
  border: 0;
}

.license {
  color: #fff;
  font-size: 0.8125rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 5px 0 10px;
  width: 100%;
}
.license ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.license ul li a {
  color: #fff;
}
.license a:hover, .license a:focus {
  text-decoration: underline;
  color: #fff;
}

@media (min-width: 768px) {
  .visible-xs {
    display: none;
  }
}

/*# sourceMappingURL=application.css.map */
