@media (max-width: 991px) {
    .menu-item-532 {
        display: none;
    }
}

@media (min-width: 992px){
    #header-sticky.menu-active {
        left: -350px; 
    }

    body.menu-active #main {
        left: -350px;
    }
    #sidepanel {
        right: -350px;
        width: 350px;
    }
}