// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--primary       	: 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,600&display=swap';
$font-family--primary    	: 'Poppins', 'sans-serif';
$font-family--secondary  	: 'Lato', 'Helvetica', 'Arial', 'sans-serif';

// Font Weights

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 600;
$font-weight--ultra-bold : 900;

// Descriptive Base Colors

$white    : #fff;
$black    : #0b0b0b;
$grey     : #797e83;

$alto				: #DDDDDD;
$alto-dark			: #D6D6D6;
$blue-ribbon		: #166AF4;
$blue-bayoux		: #566c88;
$blue-bayoux-dark	: #4e627b;
$chestnut-rose 		: #D24D57;
$chambray			: #3b5998;
$cerise				: #d93175;
$cerulean  			: #00aced;
$charade			: #272936;
$charade-dark		: #22242E;
$dove-grey			: #666666;
$dodger-blue		: #4387f6;
$deep-cerulean		: #0077b5;
$ebony-clay    	 	: #212330;
$emperor			: #555555;
$gray-chateau		: #a3a8ac;
$green-haze			: #009b69;
$hoki				: #67809F;
$jade				: #00b67b;
$jumbo				: #7e808a;
$mercury			: #e5e5e5;
$manatee			: #999aa2;
$silver				: #cccccc;
$shark				: #1d1f28;
$shark-dark			: #191A22;
$tuna		    	: #323544;
$tuna-dark			: #333645;
$viking				: #5bc0de;
$wood-smoke			: #121318;

// Services 
$dev 			: #ce4125;
$dev-dark		: #a3331d;
$security		: #f62459;
$security-dark	: #de093f;
$web 			: #926fb1;
$web-dark		: #79539a;
$telecoms		: #d64541;
$telecoms-dark	: #bc2c28;
$digital		: #2ecc71;
$digital-dark	: #25a25a;
$it				: #4183d7;
$it-dark		: #286abd;
$software		: $hoki;
$software-dark	: #526781;

// Color Usage
/*
$color-primary   : $fountain-blue;
$color-secondary : $scooter;
$color-accent    : $emerald;
$color-shadow    : rgba($black, .2);
*/
// Color Palette Modifiers

$color-palettes: (
	grey: (
		xx-light : lighten($grey, 43%),
		x-light  : lighten($grey, 35%),
	  light    : lighten($grey, 12%),
	  base     : $grey,
	 	dark     : darken($grey, 8%),
	 	x-dark   : darken($grey, 16%)
	),
	black: (
		light    : lighten($black, 10%),
		base     : $black,
		dark     : darken($black, 10%)
	)
);

// UI Colors

/*
$ui-colors: (
	default : $fountain-blue,
	success : $emerald,
	error   : $sunglo,
	warning : $coral,
	info    : $purple-majesty
);
*/

// Text

$base__font-size 			: 1rem;
$base__font-size--secondary : .8125rem;
$headding-resize--huge		: 2rem;
$base__line      			: 1.42857143rem;
$letter-space    			: .4px;

// Path to Assets

$path--rel      : "../img";