// ==========================================================================
// Functions
// ==========================================================================

// Import if Google Fonts URL is defined

@if variable-exists(font-url--primary) {
  @import url($font-url--primary);
  @import url($font-url--primarybold);
  @import url($font-url--primarybolditalic);
  @import url($font-url--icomoon);
}

// Calculate em values

@function em($target, $context: $base__font-size) {
	@return ($target / $context) * 1em;
}

// Call the color palette modifiers in color values

@function palette($palette, $shade: 'base') {
	@return map-get(map-get($color-palettes, $palette), $shade);
}

// If a class starts with icon change fontfamily
[class*=" icon-"], [class^="icon-"] {
  font-family: icomoon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}