// ==========================================================================
// Container
// ==========================================================================

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.footer__bottom-container {
	padding-left: 15px;
	padding-right: 15px;
}

.headings-container {
    display: flex;
    justify-content: space-between;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.row {
    padding-top: 50px;
    padding-bottom: 50px;
}

.col {
    position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}