@media (max-width: 767px) {
    header .inner .row > * {
        padding: 0;
        display: table-cell;
        float: none;
        vertical-align: middle;
        width: 100%;
        position: relative;
        min-height: 1px;
    }
    .col--nav-info {
        width: 1%;
    }
}

@media (min-width: 768px) {
    .float--right-sm {
      float: right;
      margin-left: 20px;
    }
    .col--nav-logo {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        width: 50%;
    }
    .col--nav-info {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col--med {
        float: left;
        width: 33.3%;
    }
    .col--lg {
        float: left;
        width: 50%;
    }
    .col--xl {
        float: left;
        width : 100%;
    }
    .col--nav-logo {
        float: left;
        width: 41.66666667%;
    }
    .col--nav-info {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        width: 58.33333333%;
    }
}

@media (min-width: 1260px) {
    .col--lg {
        width: 25%;
    }
    .col--nav-logo {
        float: left;
            width: 33.3%;
    }
    .col--nav-info {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        width: 66.66666667%;
    }
}