// ==========================================================================
// Base Styles
// ==========================================================================

*, :before, :after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: $white;
	font-size: $base__font-size;
	font-family: $font-family--primary;
	line-height: calc($base__line/$base__font-size);
	letter-spacing: .4px;
}

.h1, h1 {
	font-size: 2.25rem;
	font-weight: 400;
	margin: 0 0 28px;
	color: #333645;
}

h2 {
	font-family: inherit;
	font-size :$headding-resize--huge;
	font-weight: 400;
	margin: 0 0 15px;
	color: #333645;
}

h3 {
	font-size: 1.625rem;
	font-weight: 400;
	margin: 0 0 15px;
	color: #333645;
}

h4 {
	font-weight: 400;
	margin: 0 0 15px;
}

p {
	line-height: 1.875rem;
	margin-bottom: 25px;
}

div {
	display: block;
}

a {	
	color: #333645;
	text-decoration: none;
	background: transparent;
}

label {
	display: block;
	color: #333645;
	font-weight: 600;
	margin-bottom: 5px;
}


footer {
	position: relative;
	color: $white;
	background-color: $tuna;
	padding: 27px 0 0;
}

@keyframes slide {
	0%   {transform: translate(0px);}
	2.5%,7.5%  {transform: translate(-50px);}
	10% {transform: translate(-200px);}
	15% {transform: translate(-200px);}
	17.5% {transform: translate(-350px);}
	22.5% {transform: translate(-350px);}
	25% {transform: translate(-500px);}
	30% {transform: translate(-500px);}
	32.5% {transform: translate(-650px);}
	37.5% {transform: translate(-650px);}
	40% {transform: translate(-740px);}
	50% {transform: translate(-740px);}
	52.5% {transform: translate(-650px);}
	57.5% {transform: translate(-650px);}
	60% {transform: translate(-500px);}
	65% {transform: translate(-500px);}
	67.5% {transform: translate(-350px);}
	72.5% {transform: translate(-350px);}
	75% {transform: translate(-200px);}
	80% {transform: translate(-200px);}
	82.5%  {transform: translate(-50px);}
	87.5% {transform: translate(-50px);}
	
}

.it {
	.articles__block h3 a {
	color: #4183d7;	
	}
	.articles__category {
		background-color: #4183d7;
	}
}
.web {
	.articles__block h3 a {
	color: #926fb1;	
	}
	.articles__category {
		background-color: #926fb1;
	}
}
.software {
	.articles__block h3 a {
	color: #67809f;	
	}
	.articles__category {
		background-color: #67809f;
	}
}

.articles__list .row {
	margin-top: -30px;
	margin-left: -15px;
	margin-right: -15px;
	padding: 0;
}





.slide {

	&-box {
		display: flex;
		flex-direction: row;
		row-gap: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&-item {
		margin-right: 50px;
		margin-left: 50px;
		animation-name: slide;
		animation-duration: 25s;
		animation-iteration-count: infinite;
		h3 {
			line-height: 1.1;
		}
		img {
			filter: grayscale(1);
		}
		img:hover {
			filter: grayscale(0);
		}
	}
}

.view-all {
	text-align: center;
	margin-bottom: 20px;
	h3 a {
		color: #333645;
		&:hover {
			text-decoration: underline;
		}
	}
	@include e(services) {
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
		margin: 30px auto -70px;
		a:hover {
			text-decoration: underline;
		}
	}
}

.arrow {
	color: #333645;
}

.img-banner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	overflow: hidden;
	@media (min-width: 992px) {
		.img-banner::before {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: linear-gradient(270deg,transparent 25%,#000);
		z-index: 3;
		}
	}
}

.banner {
	width: 100%;
	position: relative;
	z-index: 1;
	@include e(img) {
		height: 550px;
		width: 100%;
		position: relative;
		background-color: #000;
		display: flex;
		flex-direction: column;
		justify-content: center;
		
	}
	@include e(content) {
		position: relative;
		z-index: 4;
		padding: 3.75rem 0;
		.h1 {
			color: $white;
			font-size: 4rem;
			line-height: 5rem;
		}
		
	}
}

