// ==========================================================================
// Base Styles
// ==========================================================================

*, :before, :after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: palette(grey);
	font-size: $base__font-size;
	font-family: $font-family--primary;
	line-height: calc($base__line/$base__font-size);
}

div {
	display: block;
}

.footer-row {
	display: flex;
}

.footer-company-info {
	
}
