// ==========================================================================
// Base Styles
// ==========================================================================

*, :before, :after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: $white;
	font-size: $base__font-size;
	font-family: $font-family--primary;
	line-height: calc($base__line/$base__font-size);
	letter-spacing: .4px;
}

.h1 {
	font-size: 2.25rem;
	font-weight: 400;
	margin: 0 0 28px;
	color: #333645;
}

h2 {
	font-family: inherit;
	font-size :$headding-resize--huge;
	font-weight: 400;
	margin: 0 0 15px;
	color: #333645;
}

div {
	display: block;
}

a {
	text-decoration: none;
	background: transparent;
}

label {
	display: block;
	color: #333645;
	font-weight: 600;
	margin-bottom: 5px;
}

.branding {
	background-color: #333645;
}

.btn {
	display: inline-block;
	color: #fff;
	font-family: inherit;
	font-weight: 400;
	font-size: 1.063rem;
	text-align: center;
	vertical-align: middle;
	background-color: #333645;
	height: auto;
	line-height: 35px;
	padding: 5px 15px;
	margin-bottom: 0;
	text-transform: uppercase;
	border: 1px solid #333645;
	border-radius: 3px;
	white-space: normal;
}

footer {
	position: relative;
	color: $white;
	background-color: $tuna;
	padding: 27px 0 0;
}

.icon-facebook:before {
	content: '\ea907';
}



