.banner {
	position: relative;
	height: 550px;
	width: 100%;
	z-index: 1;

	@include e(box) {
		position: relative;
		display: block;
		@extend %clearfix;
	}

	@include e(box-item) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		min-height: 550px;
		position: relative;
		background-color: $black;
	}

	@include e(img-cover-container) {
		display: flex;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 4;
		justify-content: center;
		align-content: center;
		align-items: center;
		overflow: hidden;
	}

	@include e(content) {
		position: relative;
		z-index: 4;
		padding: 3.75rem 0;
		@extend %clearfix;
	}
	@include e(controls) {
		position: absolute;
    	left: 0;
    	right: 0;
		bottom: 44px;
		margin-top: 10px;
    	text-align: center;
    	-webkit-tap-highlight-color: transparent;
		z-index: 10;
	}

}

.banner__controls {
	&-dot {
		cursor: pointer;
		display: inline-block;
		zoom: 1;
		span {
			width: 10px;
			height: 10px;
			margin: 5px 7px;
			background: #d6d6d6;
			display: block;
			-webkit-backface-visibility: visible;
			transition: opacity .2s ease;
			border-radius: 30px
		}
		&:hover span {
			background-color: $white;
			position: relative
		}
		&:hover span:after {
			content: "";
			position: absolute;
			top: -7px;
			left: -7px;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			border: 2px solid $white;
			z-index: 10;
		}
	}
}

.banner__box-item {
	> *, .h1 {
		color: $white;
	}

    .h1 {
		margin: 0 0 1.25rem;
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: $font-weight--bold;
    }

	p {
		margin-bottom: .375rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: $font-weight--bold;
	}
	img {
		display: block;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}