.branding {
	background-color: $tuna;
	.h1 {
		margin-bottom: 40px;
		margin-top: -6px;
		font-family: inherit;
		font-weight: $font-weight--medium;
		color: $white;
		font-size: 2.25rem;
	}
	p a {
		color: $white;
		&:hover {
			text-decoration: underline;
		}
	}
	.col p {
		margin-top: 0px;
	}
	.button-container {
		display: -webkit-box;
	}

}

.client-quote {
	font-weight: $font-weight--bold;
	font-size: 1.3rem;
	font-style: italic;
	@include e(author) {
		font-weight: $font-weight--bold;
		color: $gray-chateau;
		font-size: 1.1rem;
		margin: 0;
	}
}