.branding {
	background-color: $tuna;
	h2 {
		margin-bottom: 40px;
		margin-top: -6px;
		font-family: inherit;
		font-weight: $font-weight--medium;
		color: $white;
		font-size: 2.25rem;
	}
	p a {
		color: $white;
		&:hover {
			text-decoration: underline;
		}
	}
	em {
		margin-right: -4px;
		margin-left: 12px;
		color: $white;
		line-height: 35px;
	}

}

.client-quote {
	font-weight: $font-weight--bold;
	font-size: 1.3rem;
	font-style: italic;
	@include e(author) {
		font-weight: $font-weight--bold;
		color: $gray-chateau;
		font-size: 1.1rem;
	}
}