.btn {
	@include service-buttons(dev, $dev);
	@include service-buttons(security, $security);
	@include service-buttons(web, $web);
	@include service-buttons(telecoms, $telecoms);
	@include service-buttons(digital, $digital);
	@include service-buttons(it, $it);
	@include service-buttons(software, $software);

	display: inline-block;
	color: $white;
	font-family: inherit;
	font-weight: 400;
	font-size: 1.063rem;
	text-align: center;
	vertical-align: middle;
	background-color: #333645;
	background-image: none;
	height: auto;
	line-height: 35px;
	padding: 5px 15px;
	margin-bottom: 0;
	text-transform: uppercase;
	border: 1px solid #333645;
	border-radius: 3px;

	@include m(primary-inverse) {
		background-color: #272936;
		border-radius: 6px;
		padding: 10px 30px;
		font-size: 20px;
		margin-bottom: 50px;
		&:hover {
			text-decoration: none;
			background-color: #121318;
		}
	}

	@include m(default) {
		color: $white;
		background-color: #999aa2;
		border-color: #999aa2;
	}

	@include m(lg) {
		height: auto;
		padding: 5px 20px;
		font-size: 1.25rem;
		border-radius: 3px;
		white-space: normal;
		text-transform: uppercase;
	}

	@include m(google) {
		margin-top: 20px;
		background-color: #4387f6;
		margin-right: 8px;
		border-radius: 6px;
		padding: 10px 30px;
		font-size: 20px;
		float: left;
		&:hover {
			text-decoration: none;
			background-color: #166af4;
		}
	}

	@include m(trustpilot) {
		margin-top: 20px;
		background-color: #00b67b;
		border-radius: 6px;
		padding: 10px 30px;
		font-size: 20px;
		float: left;
		&:hover {
			text-decoration: none;
			background-color: #009b69;
		}
	}
}

.search-form button {
	outline: none;
	padding: 7px 20px 3px;
	height: 56px;
	font-size: 1.063rem;
	border-radius: 0 3px 3px 0;
	border: none;
	vertical-align: bottom;
	background-color: #999aa2;
	color: $white;
	overflow: visible;
}

.hamburger.btn {
	font-size: 1.438rem;
    line-height: 45px;
    background-color: #333645;
    border-color: #333645;
    padding: 15px 15px 5px 15px;
    text-transform: uppercase;
    border-radius: 3px;
    white-space: normal;
	&:hover {
		color: $white;
    	background-color: #22242e;
    	border-color: #191a22;
	}
}

.btn--lg {
    margin-top: 1.938rem;
    margin-bottom: 1.125rem;
    em {
        line-height: 50px;
    }

    .arrow {
        color: $white;
    }
}

.btn--software:hover {
	background-color: #566c88;
	border-color: #4e627b;
}

.facebook:hover{
	background-color: #3b5998;
}

.linkedin:hover {
	background-color: #0077b5;
}

.twitter:hover {
	background-color: #00aced;
}

.instagram:hover {
	background-color: #d93175;
}