.btn {
	display: inline-block;
	color: #fff;
	font-family: inherit;
	font-weight: 400;
	font-size: 1.063rem;
	text-align: center;
	vertical-align: middle;
	background-color: #333645;
	height: auto;
	line-height: 35px;
	padding: 5px 15px;
	margin-bottom: 0;
	text-transform: uppercase;
	border: 1px solid #333645;
	border-radius: 3px;
	white-space: normal;

	@include m(primary-inverse) {
		background-color: #272936;
		border-radius: 6px;
		padding: 10px 30px;
		font-size: 20px;
		margin-bottom: 50px;
		&:hover {
			text-decoration: none;
			background-color: #121318;
		}
	}

	@include m(dev) {
		color: #fff;
		background-color: #ce4125;
		border-color: #ce4125;
	}

	@include m(security) {
		color: #fff;
		background-color: #f62459;
		border-color: #f62459;
	}
	@include m(web) {
		color: #fff;
		background-color: #926fb1;
		border-color: #926fb1;
	}
	@include m(telecoms) {
		color: #fff;
		background-color: #d64541;
		border-color: #d64541;
	}
	@include m(digital) {
		color: #fff;
		background-color: #2ecc71;
		border-color: #2ecc71;
	}
	@include m(it) {
		color: #fff;
		background-color: #4183d7;
		border-color: #4183d7;
	}
	@include m(software) {
		color: #fff;
		background-color: #67809f;
		border-color: #67809f;
	}
	@include m(lg) {
		height: auto;
		padding: 5px 20px;
		font-size: 1.25rem;
		border-radius: 3px;
		white-space: normal;
		text-transform: uppercase;
	}
	@include m(google) {
		margin-top: 20px;
		background-color: #4387f6;
		margin-right: 8px;
		border-radius: 6px;
		padding: 10px 30px;
		font-size: 20px;
		&:hover {
			text-decoration: none;
			background-color: #166af4;
		}
	}
	@include m(trustpilot) {
		margin-top: 20px;
		background-color: #00b67b;
		border-radius: 6px;
		padding: 10px 30px;
		font-size: 20px;
		&:hover {
			text-decoration: none;
			background-color: #009b69;
		}
	}
}

.btn--software {
	&:hover {
		background-color: #566c88;
		border-color: #4e627b;
	}
}

.facebook {
	&:hover {
		background-color: #3b5998;
	}
}

.linkedin {
	&:hover {
		background-color: #0077b5;
	}
}

.twitter {
	&:hover {
		background-color: #00aced;
	}
}

.instagram {
	&:hover {
		background-color: #d93175;
	}
}