.stars {
	color: orange;
	font-style: normal;
	font-size: 45px;
	margin-bottom: 25px;
}

.arrow {
	color: $tuna-dark;
	&-white {
		margin-right: -4px;
		margin-left: 12px;
		color: $white;
		line-height: 35px;
	}
}

.icon-monitor:before {
  content: "\e902";
}
.icon-screen:before {
  content: "\e902";
}
.icon-desktop:before {
  content: "\e902";
}
.icon-pc:before {
  content: "\e902";
}
.icon-laptop:before {
  content: "\e913";
}
.icon-bullhorn1:before {
  content: "\e903";
}
.icon-megaphone:before {
  content: "\e903";
}
.icon-announcement:before {
  content: "\e903";
}
.icon-advertisement:before {
  content: "\e903";
}
.icon-news:before {
  content: "\e903";
}
.icon-phone1:before {
  content: "\e904";
}
.icon-telephone:before {
  content: "\e904";
}
.icon-contact:before {
  content: "\e904";
}
.icon-support:before {
  content: "\e904";
}
.icon-call:before {
  content: "\e904";
}
.icon-drive:before {
  content: "\e905";
}
.icon-save:before {
  content: "\e905";
}
.icon-hdd:before {
  content: "\e905";
}
.icon-hard-disk:before {
  content: "\e905";
}
.icon-drive1:before {
  content: "\e906";
}
.icon-save1:before {
  content: "\e906";
}
.icon-hdd1:before {
  content: "\e906";
}
.icon-hard-disk1:before {
  content: "\e906";
}
.icon-shuffle:before {
  content: "\e907";
}
.icon-random:before {
  content: "\e907";
}
.icon-player:before {
  content: "\e907";
}
.icon-folder-open:before {
  content: "\e908";
}
.icon-directory:before {
  content: "\e908";
}
.icon-category:before {
  content: "\e908";
}
.icon-browse:before {
  content: "\e908";
}
.icon-download:before {
  content: "\e909";
}
.icon-save2:before {
  content: "\e909";
}
.icon-store:before {
  content: "\e909";
}
.icon-display:before {
  content: "\e900";
}
.icon-screen1:before {
  content: "\e900";
}
.icon-monitor1:before {
  content: "\e900";
}
.icon-computer:before {
  content: "\e900";
}
.icon-desktop1:before {
  content: "\e900";
}
.icon-pc1:before {
  content: "\e900";
}
.icon-mobile:before {
  content: "\e90a";
}
.icon-cellular-phone:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-apps:before {
  content: "\e91c";
}
.icon-clock-o:before {
  content: "\e90b";
}
.icon-clipboard:before {
  content: "\e90c";
}
.icon-paste:before {
  content: "\e90c";
}
.icon-bullhorn:before {
  content: "\e90d";
}
.icon-handshake-o:before {
  content: "\e90e";
}
.icon-dashboard:before {
  content: "\e90f";
}
.icon-tachometer:before {
  content: "\e90f";
}
.icon-ticket:before {
  content: "\e910";
}
.icon-pencil:before {
  content: "\e911";
}
.icon-hdd-o:before {
  content: "\e912";
}
.icon-code:before {
  content: "\e914";
}
.icon-cloud-download:before {
  content: "\e915";
}
.icon-group:before {
  content: "\e916";
}
.icon-users:before {
  content: "\e916";
}
.icon-briefcase:before {
  content: "\e917";
}
.icon-cogs:before {
  content: "\e918";
}
.icon-gears:before {
  content: "\e918";
}
.icon-paperplane:before {
  content: "\e919";
}
.icon-send:before {
  content: "\e919";
}
.icon-flight:before {
  content: "\e919";
}
.icon-email:before {
  content: "\e919";
}
.icon-bar-graph:before {
  content: "\e901";
}
.icon-help:before {
  content: "\e91a";
}
.icon-phone_in_talk:before {
  content: "\e91b";
}
