.stars {
	color: orange;
	font-style: normal;
	font-size: 45px;
	margin-bottom: 25px;
}

.arrow {
	color: $tuna-dark;
	&-white {
		margin-right: -4px;
		margin-left: 12px;
		color: $white;
		line-height: 35px;
	}
}