.license {
	color: $white;
	font-size: .8125rem;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	padding: 5px 0 10px;
	width: 100%;
	ul {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;	
		li a {
			color: $white;
		}
	}

	a:hover, a:focus {
		text-decoration: underline;
		color: $white;
	}
}