@include services-colors(dev, $dev);
@include services-colors(security, $security);
@include services-colors(web, $web);
@include services-colors(telecoms, $telecoms);
@include services-colors(digital, $digital);
@include services-colors(software, $software);
@include services-colors(it, $it);

.services-list {
	margin-top: 20px;
	@include e(block) {
		display: block;
		position: relative;
		top: 0;
		margin-top: 30px;
		padding: 30px;
		color: $tuna;
		font-weight: $font-weight--bold;
		border: 1px solid $silver;
		box-shadow: 0 3px 35px rgba(0,0,0,.1);
		text-decoration: none;
		text-align: center;
		border-radius: 15px;
		transition: .5s ease;
		&:hover {
			top: -10px;
			border-color: transparent;
			transition: .5s ease;
		}
		&:hover > span.btn-container .btn {
			border-color: $white;
			background-color: $white;
		}
	}

	@include e(icon) {
		display: block;
		height: 65px;
		width: 65px;
		margin: 0 auto 17px;
		color: $white;
		border-radius: 50%;
		span {
			font-size: 2rem;
			line-height: 62px;
		}		
	}

	@include e(h2) {
		display: block;
		position: relative;
		padding-bottom: 10px;
		margin: 0 0 11px;	
		font-family: inherit;
		color: $tuna;
		font-size: 1.3rem;
		font-weight: $font-weight--medium;
	}

	@include e(p) {
		display: block;
		margin-bottom: 13px;
		color: $tuna;
		font-size: .8125rem;
		line-height: 1.375rem;
		font-weight: $font-weight--medium;	
	}

	.h1 {
		display: inline-block;
		margin-bottom: -10px;
		margin-top: -13px;
		font-size: 2.7rem;
	}
}

.view-all {
	text-align: center;
	margin-bottom: 20px;
	h3 a {
		font-weight: $font-weight--bold;
		color: $tuna-dark;
		&:hover {
			text-decoration: underline;
		}
	}
	@include e(services) {
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
		margin: 30px auto -70px;
		a {
			font-weight: $font-weight--bold;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}

.section .col--xl.clearfix h3 a {
	font-weight: $font-weight--bold;
	&:hover {
		text-decoration: underline;
	}
}






